name: workflow

on:
  workflow_dispatch:
  pull_request:
    types: 
      - opened
  push: 
    branches: 
      - main
      - 'dev-*'
    paths-ignore:
      - '.github/workflows/*'
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print
        run: echo "test"

      - name: Done
        run: echo "done"

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  second-job:
    needs: first-job
    runs-on: ubuntu-latest
    steps:
      - name: test2
        run: echo "test2"
